<div *ngIf="food">

  <h2>{{ food.foodName | uppercase }} Details</h2>
  <!-- <div><span>id: </span>{{food.id}}</div> -->
  <div>
    <label>name: </label> <span> {{food.foodName}} </span>
    <ul>
      <li>
        <label>Calories: </label> {{food.calories}}
      </li>
      <li>
        <label>Total Fat: </label> <span> {{food.totalFat}} </span>
      </li>
      <li>
        <label>Cholesterol: </label> <span> {{food.cholesterol}} </span>
      </li>
      <li>
        <label>Sodium: </label> <span> {{food.sodium}} </span>
      </li>
      <li>
        <label>Total Carbs: </label> <span> {{food.totalCarbs}} </span>
      </li>
      <li>
        <label>Protein: </label> <span> {{food.protein}} </span>
      </li>
      <li>
        <label>Vitamin A: </label> <span> {{food.vitaminA}} </span>
      </li>
      <li>
        <label>Vitamin B: </label> <span> {{food.vitaminB}} </span>
      </li>
      <li>
        <label>Vitamin C: </label> <span> {{food.vitaminC}} </span>
      </li>
      <li>
        <label>Vitamin D: </label> <span> {{food.vitaminD}} </span>
      </li>
      <li>
        <label>Calcium: </label> <span> {{food.calcium}} </span>
      </li>
      <li>
        <label>Iron: </label> <span> {{food.iron}} </span>
      </li>
    </ul>
  </div>
  <button (click)="goBack()">go back</button>
</div>
