/* HeroDetailComponent's private CSS styles */
/* label {
    display: inline-block;
    width: 6em;
    margin: .5em 1;
    color: #607D8B;
    font-weight: bold;
    padding: 1em;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

ul{
  display:table; 
  margin:0 auto;
}

span{
  padding-left: 3em;
}
 */
#property {
  width: 10em;
}
#value {
  margin-left: 1em;
  text-align: center;
}