h2 {
  padding-left: 1.5em;
  padding-top: 1em;
}
mat-list-item {
  margin-left: 3em;
  background-color: rgb(243, 243, 243);
  width: 18%;

}
button {
  margin-left: 3.5em;
  background-color: #89b6d64d;
}
#property {
  width: 10em;
}
#value {
  margin-left: auto;
}
