/* .foods {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  display:table; 
  margin:0 auto;
}
.foods li {
  position: relative;
  cursor: pointer;
  background-color: rgb(50, 162, 206);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
 
.foods li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 162, 206);
  left: .1em;
}
 
.foods a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}
 
.foods a:hover {
  color:rgb(50, 162, 206);;
}
 
.foods .badge {
  display: inline-block;
  font-size: small;
  color: rgb(241, 237, 237);
  padding: 0.8em 0.7em 0 0.7em;
  background-color: rgb(50, 162, 206);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
} */
h2 {
  padding-left: 1.5em;
  padding-top: 1em;
}
a {
  width: 25%;
  background-color: rgb(243, 243, 243);
  text-align: center;
  margin-left: 3em;
}
a:hover {
  background-color: rgba(141, 120, 155, 0.20) !important;
}
button{
  background-color: #89b6d64d;
  margin-left: 3.5em;
}