h2 {
  padding-left: 1.5em;
  padding-top: 1em;
}
a {
  width: 25%;
  background-color: rgb(243, 243, 243);
  text-align: center;
  margin-left: 3em;
}
a:hover {
  background-color: rgba(141, 120, 155, 0.20) !important;
}
button{
  background-color: #89b6d64d;
  margin-left: 3.5em;
}