#logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.input-group mb-3 {
  margin: auto;
}
.input-group-append {
  position: relative;
  left: 31%;
  width: 67%;
}
.form-control {
  position: relative;
  left: 31%;
}
.btn-outline-light,
.btn-outline-light:hover,
.btn-outline-light:active,
.btn-outline-light:visited,
.btn-outline-light:focus {
    background-color: #89b6d6 !important;
    border-color: #89b6d6 !important;
}