<div>
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <nav class = "navbar navbar-expand-lg navbar-light">
    <span class = "navbar-brand">NavBar</span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/foods">Foods</a>
          </li>
      </ul>
      <!-- <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/foods">Foods</a> -->
    </div>
    
  </nav>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>


