<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">FoodConversion</span>
    </div>
    <div class="collapse navbar-collapse" id="collapsed-navbar"> 
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="/dashboard">
            <i class="material-icons">home</i>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="/foods">
            <i class="material-icons">local_dining</i>
          </a>
        </li>
      </ul>
      <form #f="ngForm" (ngSubmit)="onSubmit(searchQuery.value)" class="form-inline my-2 my-lg-0 navbar-form-search">
        <input class="form-control search-form-container" type="search" #searchQuery placeholder="Search" aria-label="Search">
        <button mat-raised-button>
          <i class="material-icons">search</i>
        </button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>