.navbar-brand{
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-brand:hover{
  color: rgb(255, 255, 255);
}
.navbar{
  background-color: #89b6d6;
}
.form-inline{
  margin: auto;
}
.form-control{
  /* position: relative; */
  width: 25em;
  margin-left: 120%;

}